*.log
*.imllogs
ogs
tmp
dist
out
bin
target
project/project
project/target
.idea
.idea_modules
.classpath
.project
.settings
.history
.target
.cache-main
.cache-tests
generated.keystore
generated.truststore
RUNNING_PID

# Scala-IDE specific
.scala_dependencies