@(resetForm: Form[mk.ck.energy.csm.controllers.Signup.PasswordReset])

@import helper._
@import mk.ck.energy.csm.controllers._

@main(Messages("playauthenticate.password.reset.title")) {
	
	<div class="panel panel-danger">
		<div class="panel-heading">
    	<h3 class="panel-title">@Messages("playauthenticate.password.reset.title")</h3>
    </div>
    <div class="panel-body">
    
    	<p>
    		@form(routes.Signup.doResetPassword) {
    		
    			@if(resetForm.hasGlobalErrors) {
    				<p class="error"><span class="label label-important">@resetForm.globalError.message</span></p>
    			}
    			
    			@input(
    				resetForm("token"),
    				'_label -> "",
    				'_showConstraints -> false
    			)	{ (id, name, value, args) =>
    					<input type="hidden" value="@value" name="@name" id="@id" @toHtmlArgs(args)>
    				}
    			
    			@_passwordPartial(resetForm)
    			
    			<input type="submit" value="@Messages("playauthenticate.password.reset.cta")" class="btn btn-primary">
    		}
    	</p>
    </div>
  </div>
}