@(emailForm: Form[mk.ck.energy.csm.providers.MyUsernamePasswordAuthProvider.MyIdentity])

@import helper._
@import mk.ck.energy.csm.controllers._

@main(Messages("playauthenticate.password.forgot.title")) {
	
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">@Messages("playauthenticate.password.forgot.title")</h3>
		</div>
		<div class="panel-body">
		
			<p>
				@form(routes.Signup.doForgotPassword) {
				
					@if(emailForm.hasGlobalErrors) {
						<p class="error"><span class="label label-important">@emailForm.globalError.message</span></p>
					}
					
					@_emailPartial(emailForm)
					
					<input type="submit" value="@Messages("playauthenticate.password.forgot.cta")" class="btn btn-primary">
				}
			</p>
		</div>
	</div>
}