@(acceptForm: Form[mk.ck.energy.csm.controllers.Account.Accept], aUser: com.feth.play.module.pa.user.AuthUser, bUser: com.feth.play.module.pa.user.AuthUser)

@import helper._
@import mk.ck.energy.csm.controllers._

@label = {
	@Messages("playauthenticate.merge.accounts.question",aUser,bUser)
}

@main(Messages("playauthenticate.merge.accounts.title")) {
	<div class="panel panel-info">
		<div class="panel-heading">
    	<h3 class="panel-title">@Messages("playauthenticate.merge.accounts.title")</h3>
    </div>
    <div class="panel-body">
  		
  		<p>
  			@form(routes.Account.doMerge) {
  			
  				@if(acceptForm.hasGlobalErrors) {
  					<p class="error"><span class="label label-important">@acceptForm.globalError.message</span></p>
  				}
  				
  				@inputRadioGroup(
  					acceptForm("accept"),
  					options = Seq(
  						"true"-> Messages("playauthenticate.merge.accounts.true"),
  						"false"->Messages("playauthenticate.merge.accounts.false")
  					),
  					'_label -> label,
  					'_showConstraints -> false
  				)
  				<input type="submit" value="@Messages("playauthenticate.merge.accounts.ok")" class="btn btn-primary">
  			}
  		</p>
  	</div>
  </div>
}