@(loginForm: Form[_])

@import helper._
@import mk.ck.energy.csm.controllers._
@import com.feth.play.module.pa.views.html._

@main(Messages("playauthenticate.login.title"),"login") {
  
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">@Messages("page.registered.title")</h3>
    </div>
    <div class="panel-body">
      
      <div class="row">
      
        <div class="col-md-6">
          @helper.form(routes.Application.doLogin, 'class -> "form") {
          
            @if(loginForm.hasGlobalErrors) {
              <div class="alert alert-danger">@loginForm.globalError.message</div>
            }
            
            @_emailPartial(loginForm)
            
            @inputPassword(
              loginForm("password"),
              '_showConstraints -> false,
              '_label -> Messages("playauthenticate.login.password.placeholder"),
              'class -> "form-control"
            )
            <input type="submit" value='@Messages("playauthenticate.login.now")' class="btn btn-info" />
          }
          <p>
            <a href="javascript:void(0);" onclick="window.location.href = jsRoutes.mk.ck.energy.csm.controllers.Signup.forgotPassword($('#email').val() || null).absoluteURL();">@Messages("playauthenticate.login.forgot.password")</a>
          </p>
        </div>

	<div class="col-md-12">
	  @Messages("playauthenticate.login.oauth")
      @* Display list of available providers *@
      @_providerPartial(skipCurrent=false)
      @providerAvailable("basic") { available: Boolean =>
          @if(available) {
              <br/>
              <a href='@com.feth.play.module.pa.controllers.routes.Authenticate.authenticate("basic")'>@Messages("playauthenticate.login.basic")</a>
          }
      }
	</div>

      </div>
    </div>
    
  </div>
}