@(localUser: mk.ck.energy.csm.model.auth.User = null)

@import com.feth.play.module.pa.views.html._
@import mk.ck.energy.csm.controllers._
@import mk.ck.energy.csm.model.Consumer
@import mk.ck.energy.csm.model.MeterDevice
@import mk.ck.energy.csm.model.Meter

@main(Messages("playauthenticate.profile.title"),"profile") {
	
	<div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">@Messages("playauthenticate.profile.title")</h3>
    </div>
    <div class="panel-body">
      
      @defining(localUser.getConsumer()) { consumer =>
        @if(consumer != null ) {
          <div class="row">
            <div class="col-md-5 col-xs-5">
              @Messages("playauthenticate.profile.consumer")
            </div>
            <div class="col-md-2 col-xs-2">
              @localUser.getConsumer().getId()
            </div>
            <div class="col-md-5 col-xs-5">
              @localUser.getConsumer().getFullName()
            </div>
          </div>
          <hr/>
        }
      
      <div class="row">
        <div class="col-md-2 col-xs-2">
          @Messages("playauthenticate.profile.mail", "")
        </div>
        <div class="col-md-5 col-xs-5">
          @localUser.getEmail()
        </div>        
        <div class="col-md-3 col-xs-3">
          <i>
            @if(!localUser.isEmailValidated() && localUser.getEmail()) {
              <a href="@routes.Account.verifyEmail">@Messages("playauthenticate.profile.unverified")</a>
            } else {
              @Messages("playauthenticate.profile.verified")
            }
          </i>
        </div>
      </div>
      
      <hr/>
      <div class="row">
        <div class="col-md-2 col-xs-2">
          @Messages("playauthenticate.profile.name", "", "", "")
        </div>
        <div class="col-md-8 col-xs-8">
          @if(localUser.getFirstName() || localUser.getName() || localUser.getLastName()) {
            @localUser.getFirstName() @localUser.getName() @localUser.getLastName()
          }
        </div>
      </div>
      
      <hr/>
      @defining(localUser.getProviders()) { providers =>
        @if(providers.size() > 0) {
          <div class="row">          
            <div class="col-md-7 col-xs-7">
              @if(providers.size() == 1) {
                @Messages("playauthenticate.profile.providers_one")
              } else {
                @Messages("playauthenticate.profile.providers_many", providers.size().toString())
              }
            </div>
            <div class="col-md-3 col-xs-3">
              @for(p <- providers) {
                @_providerIcon(p)
              }
            </div>
          </div>
        } else {
          <div class="row">
            <div class="col-md-10 col-xs-10">Undefined any provider</div>
          </div>
        }
      }
      
      @currentAuth() { auth =>
        <div class="row">
          <div class="col-md-7 col-xs-7">
            @Messages("playauthenticate.profile.logged")
          </div>
          <div class="col-md-3 col-xs-3">
            @_providerIcon(auth.getProvider())
          </div>
        </div>
        
        <hr/>
        <div class="row">
          <div class="col-md-10 col-xs-10">
            @if(auth.expires() != -1){
              @Messages("playauthenticate.profile.session", auth.getId(), Application.formatTimestamp(auth.expires()))
            } else {
              @Messages("playauthenticate.profile.session_endless", auth.getId())
            }
          </div>
        </div>
      }
      
      <hr/>
      <div class="row">
        <div class="col-md-2 col-xs-2">
          @Messages("playauthenticate.profile.roles")
        </div>
        @for(rol <- localUser.getRoles()) {
          <div class="col-md-2 col-xs-2">
            @rol.getName()
          </div>
        }
      </div>
      
      @if(consumer == null) {
        <div class="row">
          <div class="col-md-4 col-xs-4">
            <a href="@routes.Account.changePassword()" class="list-group-item-danger">@Messages("playauthenticate.profile.password_change")</a>
          </div>
          <div class="col-md-5 col-xs-5">
            <a href='@routes.Account.joinConsumerElectricity("0")' class="list-group-item-success">@Messages("playauthenticate.profile.join_consumer.electricity")</a>
          </div>
          <div class="col-md-3 col-xs-3">
          </div>
        </div>
      } else {
        <hr/>
        <div class="row">
          <div class="col-md-2 col-xs-2">
            Lichylnyk
          </div>
          <div class="col-md-1 col-xs-1">
            Number
          </div>
          <div class="col-md-1 col-xs-1">
            Symbs
          </div>
          <div class="col-md-1 col-xs-1">
            Power
          </div>
          <div class="col-md-2 col-xs-2">
            Date install
          </div>
          <div class="col-md-2 col-xs-2">
            Uninstall
          </div>
          <div class="col-md-1 col-xs-1">
            Order
          </div>
          <div class="col-md-2 col-xs-2">
            Master name
          </div>
        </div>
        @for(meter <- consumer.getMeters()) {
          <hr/>
          <div class="row">
            <div class="col-md-2 col-xs-2">
              @meter.getMeterDevice().getName()
            </div>
            <div class="col-md-1 col-xs-1">
              @meter.getNumber()
            </div>
            <div class="col-md-1 col-xs-1">
              @meter.getDigits()
            </div>
            <div class="col-md-1 col-xs-1">
              @meter.getMightOutturn()
            </div>
            <div class="col-md-2 col-xs-2">
              @meter.getDateInstallFormat()
            </div>
            <div class="col-md-2 col-xs-2">
              @meter.getDateUninstallFormat()
            </div>
            <div class="col-md-1 col-xs-1">
              @meter.getOrder()
            </div>
            <div class="col-md-2 col-xs-2">
              @meter.getMasterName()
            </div>
          </div>
        }
        <div class="row">
          <div class="col-md-5 col-xs-5">
            <a href='@routes.Account.unjoinConsumerElectricity()' class="list-group-item-success">@Messages("playauthenticate.profile.unjoin_consumer.electricity")</a>
          </div>
          <div class="col-md-3 col-xs-3">
          </div>
        </div>
      }
      }
    </div>
  </div>
}